// アイコン
  $control-icon_hover-color: #a009a0;
  $control-icon-close_hover-color: #D41224;
  $control-icon_padding: 18px;
  $control-icon_size: 46px;
  $icon_color: #9cff2a;
  $icon_padding: 3px;
  $icon_size: 28px;

// エリア
  $header_color: #800080;
  $header_font-size: 13px;
  $header_text-color: #fff;
  $header_height: 30px;
  $message_font-size: 13px;
  $message_padding: 3px 5px;
